<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Admin</h1>
    <table border = 1px>
      <thead>
        <th>Name</th>
        <th>Role</th>
        <th>ID</th>
      </thead>

      <tbody>
        {%for champ in champs%}
        <tr>
          <td>{{champ.name}}</td>
          <td>{{champ.role}}</td>
          <td>{{champ.id}}</td>
          <td><a href="{{url_for('delete',champ_id = champ.id)}}">Delete</a></td>
        </tr>
        {%endfor%}
      </tbody>
  </table>
  </body>
</html>
